.cards {
    border-top: 2px solid turquoise;
    min-height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
}